
.Node {
    width: 20px;
    height: 20px;
    background-color: rgb(226, 225, 225);
    outline: 1px solid #252525;
    display: inline-grid;
    font-size: 0;
}

.startnode {
    background: green;
}

.endnode {
    background: red;
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.7);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(0.95);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

.node-path-unused {
    border-color: gold; 
    box-sizing: border-box;
    border: 5px solid gold;
}

.node-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: gold;
    }
  
    50% {
      transform: scale(0.95 );
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: gold;
    }
  }

.node-wall {
    background: darkslategray;
    animation-name: wallAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}



@keyframes wallAnimation {
  0% {
    transform: scale(0.4);
  }


  75% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    background-color: darkslategray;
  }
}