.grid-container{
    height: 94vh; /* Magic here */
    display: inline-block;
    font-size: 0;
    margin: 103px 0 0;
    white-space : nowrap; /* prevents divs from stacking if they dont fit on screen */
}
body{
  background-color: #777;
}
.button-bar {
  /* background-color:#002570; */
  border-width: 0px; 

}

.button-bar button {
    background-color:#002570;
    border: 0px solid White;
    color: white; /* White text */
    font-weight: bold;
    padding: 10px 24px; 
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 12.5%;
  }

  button:hover{
    /* background-color: #FFFEFC; */
    /* color: #9ED1E0; */

    
    animation-name: buttonHover;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes buttonHover {
    
    0% {
      color: #FFFEFC;
      /* border-radius: 100%; */
    }
  
  
    100% {
      color: rgb(62, 139, 255);
    }
  }
