.grid-container{
    
    height: 94vh; /* Magic here */
    display: inline-block;
    font-size: 0;
    margin: 200px 0 0;
    white-space : nowrap; /* prevents divs from stacking if they dont fit on screen */
    
}
